/* Selector  {
    Property: value:
} */
*{
    text-align: right;
}
body{
    background-image: url(moon_clouds_dark_sky.jpg);
    background-size: cover;
    background-attachment: fixed;
}
h2{
    color: red;
}
p{
    color:#FFFF6B;
    text-align: center;
    border: 5px solid rgba(243, 121, 121, 0.418);
    cursor: pointer;
}
p{
   line-height: 30px;
   font-style: italic;
   font-weight: bold;
   font-size: 80%;
   font-family: 'Roboto', sans-serif;
}
img{
    float: right;
}
footer{
clear: both;
text-align: center;
}
li{
    list-style: none;
    display: inline-block;
}
.webtext:first-child {
    border: 5px dashed green;
}
.active{
    color: red
}

#div1{
    background: rgba(243, 121, 121, 0.418);
}
#div2{
    background: rgba(91, 133, 212, 0.377);
}